In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import datetime as dt
import zipfile

In [9]:
earnings = pd.read_excel('data/earnings formatted.xlsx')
earnings = earnings[earnings['Date'] > dt.datetime(2020,1,1)]
earnings = earnings.drop(earnings[earnings['Ticker'] == 'BRK'].index) # drop berkshire hathaway
earnings = earnings.drop(earnings[earnings['Ticker'] == 'BF'].index)
earnings = earnings.drop(earnings[earnings['Ticker'] == 'UHALB'].index)
earnings

        Unnamed: 0 Ticker  Quarter       Date   Time
0                0   MSFT  2024:Q4 2024-07-30  16:00
1                1   MSFT  2024:Q3 2024-04-25  16:00
2                2   MSFT  2024:Q2 2024-01-30  16:00
3                3   MSFT  2024:Q1 2023-10-24  16:04
4                4   MSFT  2023:Q4 2023-07-25  16:00
...            ...    ...      ...        ...    ...
182104      182104   GTXI  2020:Q4 2021-03-11  16:01
182105      182105   GTXI  2020:Q3 2020-11-04  17:01
182106      182106   GTXI  2020:Q2 2020-08-06  16:15
182107      182107   GTXI  2020:Q1 2020-05-07  08:00
182108      182108   GTXI  2019:Q4 2020-03-16  16:05

[48205 rows x 5 columns]

In [7]:
returns = pd.read_csv('returns.csv.zip',compression='zip')
returns = returns.drop(returns[returns['Ticker'] == 'BRK'].index)
returns = returns.drop(returns[returns['Ticker'] == 'BF'].index)
returns = returns.drop(returns[returns['Ticker'] == 'UHALB'].index)
returns

                              Date Ticker    Return
0        2020-01-03 00:00:00+00:00      A -0.016056
1        2020-01-06 00:00:00+00:00      A  0.002956
2        2020-01-07 00:00:00+00:00      A  0.003065
3        2020-01-08 00:00:00+00:00      A  0.009873
4        2020-01-09 00:00:00+00:00      A  0.015712
...                            ...    ...       ...
2990267  2024-09-16 00:00:00+00:00   ZYXI -0.022086
2990268  2024-09-17 00:00:00+00:00   ZYXI  0.027603
2990269  2024-09-18 00:00:00+00:00   ZYXI -0.001221
2990270  2024-09-19 00:00:00+00:00   ZYXI  0.018337
2990271  2024-09-20 00:00:00+00:00   ZYXI -0.025210

[2990272 rows x 3 columns]

In [13]:
#Disclaimer: idk if this code actually works, its based off sample.ipynb code - Andy
#

ticker_list = earnings['Ticker'].unique()
tickerdata_list = []

for ticker in ticker_list:
    ticker_data = yf.Ticker(ticker).history(start=dt.datetime(2020,1,1))
    ticker_data = ticker_data.reset_index()
    
    ticker_data['Close shifted'] = ticker_data['Close'].shift(1)
    ticker_data['-1d ret'] = ticker_data['Close']/ticker_data['Close shifted'] - 1
    ticker_data['1d ret'] = ticker_data['-1d ret'].shift(-1)

    ticker_data['3 Close shifted'] = ticker_data['Close'].shift(3)
    ticker_data['-3d ret'] = ticker_data['Close']/ticker_data['3 Close shifted'] - 1
    ticker_data['3d ret'] = ticker_data['-3d ret'].shift(-3)

    ticker_data['7 Close shifted'] = ticker_data['Close'].shift(7)
    ticker_data['-7d ret'] = ticker_data['Close']/ticker_data['7 Close shifted'] - 1
    ticker_data['7d ret'] = ticker_data['-7d ret'].shift(-7)

    tickerdata_list.append(ticker_data)




final_df = pd.concat(tickerdata_list, keys=ticker_list).reset_index()
final_df = final_df.rename(columns={'level_0':'Ticker'})
final_df = final_df.drop(columns=['Open', 'High', 'Low', 'Dividends', 'Stock Splits', 'level_1'])
final_df.head()

$BF: possibly delisted; no price data found  (1d 2020-01-01 00:00:00 -> 2024-09-21)
$UHALB: possibly delisted; no timezone found